In [1]:
import sqlite3

conn = sqlite3.connect('academia.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Aluno (
        matricula INTEGER(8) PRIMARY KEY NOT NULL,
        nome_aluno VARCHAR(50) NOT NULL,
        cpf INTEGER(11) NOT NULL,
        email VARCHAR(50) NOT NULL,
        numero_telefone INTEGER(16) NOT NULL,
        genero VARCHAR(50),
        data_de_nascimento DATE
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Plano (
        id_plano INTEGER(8) PRIMARY KEY NOT NULL,
        nome_plano VARCHAR(40) NOT NULL,
        valor FLOAT(8) NOT NULL
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Plano_Aluno (
        id_plano_aluno INTEGER(8) PRIMARY KEY NOT NULL,
        matricula INTEGER(4) NOT NULL,
        id_plano INTEGER(4) NOT NULL,
        data_adesao DATE(16) NOT NULL,
        data_encerramento DATE(16),
        status VARCHAR(50) NOT NULL,
        FOREIGN KEY (matricula) REFERENCES Aluno(matricula),
        FOREIGN KEY (id_plano) REFERENCES Plano(id_plano)
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Ficha (
        id_ficha INTEGER(4) PRIMARY KEY NOT NULL,
        matricula INTEGER(4) NOT NULL,
        data_criacao DATE(16) NOT NULL,
        FOREIGN KEY (matricula) REFERENCES Aluno(matricula)
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Nome_Exercicio (
        id_exercicio INTEGER(4) PRIMARY KEY NOT NULL,
        nome_exercicio VARCHAR(40) NOT NULL
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Ficha_Treino (
        id_Ficha_Treino INTEGER(4) PRIMARY KEY NOT NULL,
        id_ficha INTEGER(4) NOT NULL,
        id_exercicio INTEGER(4) NOT NULL,
        series INTEGER(4) NOT NULL,
        repeticoes INTEGER(4) NOT NULL,
        dia_da_semana VARCHAR(40) NOT NULL,
        FOREIGN KEY (id_ficha) REFERENCES Ficha(id_ficha),
        FOREIGN KEY (id_exercicio) REFERENCES Nome_Exercicio(id_exercicio)
    )
''')

conn.commit()
conn.close()